Udemy/Tkinter sqlite3/Demo/dist/frontend.exe
Udemy/Tkinter sqlite3/Demo/build/frontend/base_library.zip
Udemy/Tkinter sqlite3/Demo/build/frontend/EXE-00.toc
Udemy/Tkinter sqlite3/Demo/build/frontend/frontend.pkg
Udemy/Tkinter sqlite3/Demo/build/frontend/localpycs/pyimod01_archive.pyc
Udemy/Tkinter sqlite3/Demo/build/frontend/localpycs/pyimod02_importers.pyc
Udemy/Tkinter sqlite3/Demo/build/frontend/localpycs/pyimod03_ctypes.pyc
Udemy/Tkinter sqlite3/Demo/build/frontend/localpycs/pyimod04_pywin32.pyc
Udemy/Tkinter sqlite3/Demo/build/frontend/localpycs/struct.pyc
Udemy/Tkinter sqlite3/Demo/build/frontend/PKG-00.toc
Udemy/Tkinter sqlite3/Demo/build/frontend/PYZ-00.pyz
Udemy/Tkinter sqlite3/Demo/build/frontend/PYZ-00.toc
Udemy/Tkinter sqlite3/Demo/build/frontend/warn-frontend.txt
Udemy/Tkinter sqlite3/Demo/build/frontend/xref-frontend.html
Udemy/Tkinter sqlite3/Demo/frontend.spec
