jupyter
fastapi
flask
pandas
numpy
opencv-python
psycopg2
uvicorn
pyinstaller
kivy
justpy
bokeh
matplotlib
openpyxl
xlrd
twine
requests
rich
blinker
click
flask-sqlalchemy
greenlet
itsdangerous
jinja2
markupsafe
playwright
psycopg2-binary
pyee
sqlalchemy
typing_extensions
werkzeug